.calculadora{
    width: 300px;
    margin: 60px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: antiquewhite;

}
input[type="button"]{
    width: 50px;
    height: 50px;
    margin: 10px;
    border: none;

}

input[type="text"]{
        height: 50px;
}


body{
    background-color: aqua;
}